Repository wp-spaghetti/wp-env, changes with the labels that .github/labeler.yml gives for each.
All labels: area: core, area: tests, area: docs, area: ci/cd, area: dependencies, area: config

build: fix composer require-dev libs versions
  composer.json
  phpunit.xml.dist
Labels: area: dependencies, area: config

build: downgrade phpro/grumphp-shim for PHP 8.0 compatibility
  composer.json
  phpunit.xml.dist
Labels: area: dependencies, area: config

build: downgrade phpunit/phpunit for PHP 8.0 compatibility
  composer.json
Labels: area: dependencies, area: config

build: downgrade phpro/grumphp-shim for PHP 8.0 compatibility
  composer.json
  phpunit.xml.dist
Labels: area: dependencies, area: config

build: add multiple phpunit versions in main workflow
  .github/workflows/main.yml
  composer.json
  phpunit-10.xml.dist
  phpunit-9.xml.dist
Labels: area: ci/cd, area: dependencies, area: config

build: fix typo in main workflow
  .github/workflows/main.yml
Labels: area: ci/cd

build: downgrade phpro/grumphp-shim for PHP 8.0 compatibility
  composer.json
Labels: area: dependencies, area: config

feat: initial release with comprehensive WordPress environment management
  CHANGELOG.md
Labels: area: docs

.github/labeler.yml:

# Auto-label PRs based on changed files
'area: core':
  - 'src/**'

'area: tests':
  - 'tests/**'

'area: docs':
  - '*.md'
  - 'docs/**'

'area: ci/cd':
  - '.github/**'

'area: dependencies':
  - 'composer.json'
  - 'composer.lock'

'area: config':
  - '*.php'
  - '*.json'
  - '*.xml'
  - '*.yml'
  - '*.yaml'

'size: small':
  - any: ['src/**', 'tests/**']
    count-lines: '<= 10'

'size: medium':
  - any: ['src/**', 'tests/**']
    count-lines: '<= 100'

'size: large':
  - any: ['src/**', 'tests/**']
    count-lines: '> 100'
